<h1> SE 3316 Lab 5</h1>
<div *ngIf="!isSignedIn">

  <h2>About</h2>
  <p>This website offers users to search for timetables and for authenticated users to </p>
  <h2>Sign Up!</h2>
  <input type="text" #emailSignup />
  <input type="text" #passwordSignup />
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
</div>

<hr>

<div *ngIf="!isSignedIn">
  <h2>Sign In!</h2>
  <input type="text" #email />
  <input type="text" #password />
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>
<hr>
<div *ngIf="!isSignedIn">

  <div class="search">
    <h2>Search for Courses</h2>
    <label for="subjectSearch"></label>
    <input id="searchSub" type="text" placeholder="Subject.." />

    <label for="subjectSearch"></label>
    <input id="searchCode" type="text" placeholder="Course Code.." />

    <label for="subjectSearch"></label>
    <input id="searchComp" type="text" placeholder="Component.." />
    <button class="button" (click)="search()">Search</button><br><br>

  </div>

  <ul>
    <li *ngFor="let info of listInfo">
      <span>Subject Name: {{info.subject}}</span><br><br>
      <span>Course Code: {{info.catalog_nbr}}</span><br><br>
      
      <div class="container" [class.show]="info.show">
      <span>Class Name: {{info.className}}</span><br><br>

      <span>Start Time: {{info.course_info[0].start_time}}</span><br><br>
      <span>End Time: {{info.course_info[0].end_time}}</span><br><br>
      <span>Component: {{info.course_info[0].ssr_component}}</span><br><br>
      <span>Section: {{info.course_info[0].class_section}}</span><br><br>
      <span>{{info.course_info[0].descrlong}}</span><br><br>
      <span>Facility: {{info.course_info[0].facility_ID}}</span></div>
    <button (click)="info.show = !info.show ">{{ !info.show ? 'Show less': 'Show More' }}</button>
    </li>
  </ul>
</div>
<app-user-component *ngIf="isSignedIn" (isLogout)="handleLogout()">Log out</app-user-component>
<app-register-component *ngIf = "isSignedIn && isAdmin" (isLogout)="handleLogout()">Log out</app-register-component>
