.container {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }
  
  .show {
    overflow: visible;
    height: auto;
  }
  .button2 {
    background-color: white;
  color: black;
  border: 5px solid #4CAF50;
    font-size: 16px;
  }