<div class="X">
    <button (click)="logout()">Logout</button>
    <h1>{{title}}</h1>

    <button class="buttonr" (click)="refresh()">Refresh</button><br><br>

    <div class="X">

        <h1>All Subjects</h1>
        <button class="button1" (click)="viewSubjects()">View All Subjects</button>

        <ul>
            <li *ngFor="let obj of items">
                <span>Subject: {{obj.subject}}</span><br>
                <span>Class Name: {{obj.className}}</span><br><br>
            </li>
        </ul>

    </div>
    <div>
        <input id="listCode" type="text" placeholder="Enter a Subject" />
        <button class="button" (click)="listCodes()">List Course Codes</button><br><br>
    </div>


    <div>
        <input type="text" placeholder="Enter a Schedule..." id="q5Schedule">
        <input type="text" placeholder="Enter Subject..." id="q5Subject">
        <input type="text" placeholder="Enter Course..." id="q5Course">
        <button class="button" (click)="addCourses()">Add Course</button><br><br>
    </div>
    <div>
        <label for="schedule" class="search"></label>
        <input id="scheduleInput" type="text" placeholder="Enter a schedule" />
        <button class="button" (click)="addSchedule()">Add Schedule</button>
        <button class="button" (click)="delSchedule()">Remove Schedule</button><br><br>

    </div>

    <button class="button2" (click)="viewSchedule()">View Schedules</button><br><br>
    <button class="button3" (click)="deleteAll()">Delete All</button>
    <div>
        <h2>Write a Review About a Course</h2>
        <input type="text" placeholder="Course Name..." id="reviewCourse">
        <input type="text" placeholder="Write a Review..." id="reviewText">
        <button class="button" (click)="addReview()">Add Review</button><br><br>
    </div>


    <div class="X">

        <ul>
            <li *ngFor="let codes of listOfCodes">
                <span>Course Code: {{codes.catalog_nbr}}</span><br><br>
            </li>
        </ul>
        <ul>
            <li *ngFor="let oneSche of displayOne">
                <span>Subject Name: {{oneSche.subject}}</span><br>
                <span>Course Code: {{oneSche.catalog_nbr}}</span><br><br>
            </li>
        </ul>
        <ul>

            <li *ngFor="let subject of viewSche">
                <span>Schedule Name: {{subject.scheduleName}}</span><br>
                <span>Last Edited: <p id="demo"></p></span>
                <div class="container" [class.show]="subject.show">
                    <ul>
                        <li *ngFor="let course of subject.courses">
                            <br>
                            <span>Subject Name: {{course.subject}}</span><br>
                            <span>Course Code: {{course.catalog_nbr}}</span>
                        </li>
                    </ul>
                </div>
                <button (click)="subject.show = !subject.show ">{{ subject.show ? 'Show less': 'Show More' }}</button>
            </li>
        </ul>
    </div>
</div>